/* color palette */

:root{
    --boot-primary:#1abc9c;
    --boot-dark:#3a546d;
    --boot-darkest:#2c3e50;
    --boot-darker:#333333;
    --boot-lighter:#ffffff;
    
}

a{
    text-decoration: none;
    color: var(--boot-lighter);
}

.bg_darkest{
    background-color: var(--boot-darkest);
}

.menu{
    display: none;
   
}
@media screen and (min-width:768px) {
        
    .menu{
        display: block;
    }
    
    .button{
        display: none;
    }
}

.menu>ul{
    list-style: none;
    gap: 1rem;
    font-size: 12px;
}

.jumbotron{
    background-color: var(--boot-primary);
}

.about{
    background-color: var(--boot-primary);
    color: var(--boot-lighter);
}

.location{
    background-color: var(--boot-dark);
    color: var(--boot-lighter);
}

.copyright{
    background-color: var(--boot-darkest);
    color: var(--boot-lighter);
}
