/* color palette */

:root{
    --boot-primary:#1abc9c;
    --boot-dark:#3a546d;
    --boot-darkest:#2c3e50;
    --boot-darker:#333333;
    --boot-lighter:#ffffff;
    
}



.debug .logo,
.debug .menu{
    background-color: #fff;
    height: 20px;
    width: 20%;
}

.debug .content{
    width: 500px;
    aspect-ratio: 1;
    background-color: red;
}

.debug .form{
    background-color: red;
    height: 200px
    ;
}

header{
    background-color: var(--boot-darkest);
}

.jumbotron{
    background-color: var(--boot-primary);
}

.about{
    background-color: var(--boot-primary);
    color: var(--boot-lighter);
}

.location{
    background-color: var(--boot-dark);
    color: var(--boot-lighter);
}

.copyright{
    background-color: var(--boot-darkest);
    color: var(--boot-lighter);
}